*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color: rgb(255, 255, 202);
}
.container{
    margin:6rem auto ;
    height:30rem;
    width:50rem;

    background-color:skyblue;
    border:3px  solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px black;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 1rem auto;
        width:6rem;
    height:3rem;
    font-weight:bold;
    background-color: yellow;
}
#count{
    text-align: center;
  font-weight: bold;
  

}
h2{
    text-align: center;
    margin: 3rem auto;
  font-size:25px;
  

}
 /*   background-color: pink;
    border:2px solid white;
    padding: 2px;

}*/

.result{

    width:30rem;
    height:10rem;
    margin: 3rem auto;

    text-align: center;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(255, 180, 192);
    color: black;
    border: 3px solid white;
    box-shadow: 2px 2px 2px 2px grey;
}


